.container {
    display: flex;
    width: 100%;
    background: inherit;
}

.buttonWrapper {
    display: flex;
    align-items: flex-end;
    z-index: 2;
    background: inherit;
}

.dateListScrollable {
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none;
    margin: 2px 0 2px 0px;
    -webkit-overflow-scrolling: touch;
}

.dateListScrollable::-webkit-scrollbar {
    -webkit-appearance: none;
    display: none;
}

.dateDayItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    margin: 0 0 0 5px;
    flex-shrink: 0;
    outline : 0;
    border: none;
    text-decoration: none;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    background-color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-bottom: 5px;
}

.daysContainer {
    display: flex;
    z-index: 1;
}

.dayLabel {
    font-family: sans-serif;
    font-size: 8px;
    margin: 4px 0 0 0;
}

.dateLabel {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 250;
}